/* custom layout styling (tailwind compiled separately) */

body {
    font-family: 'Inter', sans-serif;
    background-color: #030712;
}
h1, h2 {
    font-family: 'Outfit', sans-serif;
}
#logo-img {
    /* override gpu rendering flags for macOS retina scaling artifacts */
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -webkit-transform: translate3d(0, 0, 0);
}

/* bg highlights floating animations */
@keyframes float {
    0% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-12px) rotate(180deg); }
    100% { transform: translateY(0px) rotate(360deg); }
}
.animate-float-slow {
    animation: float 25s infinite ease-in-out;
}
